{% extends "layout/frame.html" %}

{% block contents %}

<div class="container-fluid">
  <div class="row">
    <h3><Details>내용작성</Details></h3>
  </div>
  <div class="row">

    <form class="row row-cols-lg-auto g-3 align-items-center" action="{% url 'mylist:upload_create' %}" method="POST" enctype="multipart/form-data">

        {% csrf_token %} 
        <div class="input-group">
          <div class="input-group-text">날     짜</div>
          <input class="form-control" placeholder="작성하세요" type="date" name="content" >
        </div>
        <div class="input-group">
          <div class="input-group-text">제     목</div>
          <input class="form-control"  type="text" name="title"  value="순모임 커피주문">
        </div>
        <div class="input-group">
          <div class="input-group-text"> 작성자 </div>
          <input class="form-control" placeholder="작성하세요" type="text" name="person1" value="순장님">
        </div>
        <div class="input-group">
          <a href="{% url 'mylist:main' %}" class="btn btn-secondary" style="font-size:0.5vw; ">목록</a>
          <input class="btn btn-primary" type="submit" value="작성완료" style="font-size:0.5vw;">
        </div>
    </form>

  </div>
</div>

<style>
    form {
        width: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
</style>
{% endblock %}